<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-positive">


  <!-- Dashboard Tab -->
  <ion-tab icon="icon ion-waterdrop" href="#/tab/glucose">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab icon="icon ion-medkit" href="#/tab/medicine">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="" icon="icon ion-fork" href="#/tab/food">
    <ion-nav-view name="tab-food"></ion-nav-view>
  </ion-tab>


</ion-tabs>
