<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">-->
    <link rel="stylesheet" href="lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    <!---->
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="lib/highcharts/highcharts-all.js"></script>
    <script type="text/javascript" src="lib/highcharts-ng/dist/highcharts-ng.js"></script>
    <script type="text/javascript" src="lib/moment/moment.js"></script>
    <script type="text/javascript" src="lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->


    <!-- app:js -->
    <script src="js/common/resources/resources.module.js"></script>
    <script src="js/common/resources/log.js"></script>
    <script src="js/statistic/statistic.module.js"></script>
    <script src="js/settings/settings.module.js"></script>
    <script src="js/services/services.js"></script>
    <script src="js/services/settings.js"></script>
    <script src="js/services/resources.js"></script>
    <script src="js/services/resource-factory.js"></script>
    <script src="js/services/list-service.js"></script>
    <script src="js/medicament/medicament.module.js"></script>
    <script src="js/log/log.module.js"></script>
    <script src="js/home/home.module.js"></script>
    <script src="js/history/history.module.js"></script>
    <script src="js/glucose/glucose.module.js"></script>
    <script src="js/food/food.module.js"></script>
    <script src="js/filters/filters.js"></script>
    <script src="js/exercise/exercise.module.js"></script>
    <script src="js/controllers/controllers.js"></script>
    <script src="js/controllers/statistic.js"></script>
    <script src="js/controllers/insulin.js"></script>
    <script src="js/controllers/glucose.js"></script>
    <script src="js/controllers/food.js"></script>
    <script src="js/controllers/calculator.js"></script>
    <script src="js/common/config.module.js"></script>
    <script src="js/calculator/calculator.module.js"></script>
    <script src="js/app.js"></script>
    <!-- endinject -->

</head>
<body ng-app="glucostat.app" animation="slide-left-right-ios7">
<!--
  The nav bar that will be updated as we navigate between views.
-->
<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="nav-title-slide-full">

            <button class="button button-icon" ng-click="toggleMenu()">
                <i class="icon ion-navicon"></i>
            </button>
            <!--<ion-nav-back-button class="button-icon ion-arrow-left-c">-->
            <!--</ion-nav-back-button>-->
        </ion-nav-bar>
        <ion-nav-view animation="fade-explode"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar>
            <h1 class="title">Menu</h1>
            <!--<button class="button button-icon ion-plus" ng-click="newProject()">-->
            <!--</button>-->
        </ion-header-bar>
        <ion-content scroll="false">
            <ion-list>
                <a menu-close nav-clear class="item item-icon-left" ui-sref="home">
                    <i class="icon ion-home positive"></i>
                    Home
                </a>
                <a menu-close nav-clear class="item item-icon-left" ui-sref="history">
                    <i class="icon ion-clipboard positive"></i>
                    History
                </a>
                <a menu-close nav-clear class="item item-icon-left" ui-sref="statistic">
                    <i class="icon ion-stats-bars positive"></i>
                    Statistic
                </a>
                <a menu-close nav-clear class="item item-icon-left" ui-sref="calculator">
                    <i class="icon ion-ios7-calculator positive"></i>
                    Carbs Calculator
                </a>
                <a menu-close nav-clear class="item item-icon-left" ui-sref="settings">
                    <i class="icon ion-ios7-gear positive"></i>
                    Settings
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
</body>
</html>
