<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Meal intake</h1>
        <button class="button button-clear button-positive" ng-click="closeItemModal()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form>
            <div class="list" >
                <label class="item item-input">
                    <span class="input-label">Carbs</span>
                    <input type="number" ng-model="newItem.value" min="0">
                </label>
                <label class="item item-input" ng-click="openDatePicker()">
                    <span class="input-label">Time</span>
                    {{newItem.time | date:'shortTime'}}
                    <!--<input type="text" ng-model="newUser.formattedBirthDate">-->
                </label>
            </div>
            <div class="padding">
                <button  ng-click="createNewItem()" class="button button-block button-positive">Add Measure</button>
            </div>
        </form>

    </ion-content>

</div>
